<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget-Password</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="account.css">
</head>
<body>
    
    <p class="page-heading"> Admin Forget Password</p>

<table class="chng-pwd-table">
    <tr>
        <th colspan="2" style="font-size: 15px;">Forget Password</th>
    </tr>
    <tr>
        <td>
            <label for="profile-email-change">Confirm Email:</label>
        </td>
        <td>
            <input type="text" id="current-pwd" name="email" class="chng-pwd-format">
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn" type="submit">Submit</button>
        </td>
    </tr>
</table>
<script src="script.js"></script>
</body>
</html>