<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share-Article</title>
    <style>
      input {
        border: 1px solid lightblue;
        border-radius: 5px;
        padding: 3px;
      }
    </style>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="account.css" />
  </head>
  <body>
    <%- include('admin-header') %>
    <%- include('admin-sidemenu') %>
    <p class="page-heading">Share Your Article</p>
    <form action="/publish-article" method="post" enctype="multipart/form-data">
      <table class="chng-pwd-table" id="table">
        <tr>
          <th style="font-size: 15px" colspan="10">Article</th>
        </tr>
        <tr>
          <td colspan="5">
            Choose Image
            <span style="font-size: 10px; margin: 0; color: black">
              (if any)</span
            >:
          </td>
          <td colspan="5">
            <input type="file" name="articleimg" />
          </td>
        </tr>
        <tr>
          <td>Write Article :</td>
        </tr>
        <tr>
          <td colspan="10">
            <textarea name="articlemssg" id="grievance" placeholder="Type Here....." ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn">Publish</button>
          </td>
        </tr>
      </table>
    </form>
    <script src="script.js"></script>
  </body>
</html>
