<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change-Password</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="account.css">
</head>
<body>
    <%- include('admin-header') %>
    
    <p class="page-heading"> Admin Change Password</p>
<form action="" method="post">
<table class="chng-pwd-table">
    <tr>
        <th colspan="2" style="font-size: 15px;">Change Password</th>
    </tr>
    <tr>
        <td>
            <label for="new-pass">Enter New Password :</label>
        </td>
        <td>
            <input type="text" id="new-pass" name="newpass" class="chng-pwd-format">
        </td>
    </tr>
    <tr>
        <td>
            <label for="cnfm-pwd">Confirm Passwrod:</label>
        </td>
        <td>
            <input type="text" id="cnfm-pwd" name="cnfmpwd" class="chng-pwd-format">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="btn" style="margin: 12px;">Update Now</button></td>
    </tr>
</table>
</form>
<script src="script.js"></script>
</body>
</html>