<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-Not-Returned</title>
    <style>
        td{
            color: black;
        }
        table{
            background-color: white;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('admin-header') %>
    <p class="page-heading">Managed Not Returned Books</p>
    <table>
        <tr>
            <th colspan="12">Issued Books</th>
        </tr>
        <tr>
            <td colspan="4"><select name="record-row" id="record-row-page">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        <p style="color: black; display: inline-block;">Records per page</p>
        <td colspan="3"></td>
            <td colspan="4" id="table-search"><p style="color: black; display: inline-block; margin-right: 10px;">Search:</p><input type="search" id="issued-books-input"></td>
        </tr>
        <tr>
            <th>#</th>
             <th colspan="3">Book Name</th>
             <th colspan="2">ISBN</th>
             <th colspan="2">Issued Date</th>
             <th colspan="2">Return Date</th>
             <th colspan="2">Fine in(USD)</th>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td colspan="3">
                ASP.NET Core 5
            </td>
            <td colspan="2">
                GBSJ36344563
            </td>
            <td colspan="2">
                2024-02-01 11:15:57
            </td>
            <td colspan="2">
                2024-02-04 12:03:08
            </td>
            <td colspan="2">
                0
            </td>
        </tr>

        <tr>
            <td>
                2
            </td>
            <td colspan="3">
                C++: The Complete Reference, 4th Edition
            </td>
            <td colspan="2">
                007053246X
            </td>
            <td colspan="2">
                2024-02-01 11:15:57
            </td>
            <td colspan="2">
                2024-02-04 12:03:08
            </td>
            <td colspan="2">
                0
            </td>
        </tr>

        <tr>
            <td colspan="3">
                Showing 1 to 2 of 2 entries
            </td>
            <td colspan="3">
            </td>
            <td colspan="2" style="cursor:not-allowed;">
                Previous</td>
            <td colspan="1" style="background-color: rgb(41, 106, 228); color: white;">1</td>
            <td colspan="2" style="cursor:not-allowed;">Next</td>
        </tr>

    </table>
            <script src="script.js"></script>
    </body>
</html>