<style>
  .footer {
    position: relative;
    bottom: -290px;
    padding: 10px;
    text-align: center;
    right: 0px;
    font-size: 12px;
    border-top: 1px solid red;
    position: relative;
    bottom: -380px;
    padding: 10px;
    text-align: center;
  }
</style>
<div class="footer">
  <p style="color: white; font-size: 12px">&copy 2024</p>
</div>
