<link rel="stylesheet" href="style.css">
<style>
.side-menu{
    background-color: rgb(16,32,61);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    height: 65vh;
}
.dash-side-menu{
  position: fixed;
    left: 1px;
    top: 100px;
}
</style>

<div class="dash-side-menu">
    <ul class="side-menu">
      <li><a href="/ask-ai">ASK AI</a></li>
  
      <li><a href="/user-issue-article">Issue Article</a></li>

      <li><a href="/user-share-resources">Share Resources</a></li>

      <li><a href="/user-inbox">Inbox</a></li>
      
      <li><a href="/user-send-mail">Send Mail</a></li>
    </ul>
  </div>