<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="account.css">
</head>
<body>
 
    <div class="container">
        <div class="carousel">
            <div class="carousel-track">
              <img class="carousel-slide active" src="images/userlogin.jpg" alt="Image 1">
              <img class="carousel-slide" src="images/userlogin2.webp" alt="Image 2">
              <img class="carousel-slide" src="images/userlogin3.webp" alt="Image 3">
              <img class="carousel-slide" src="images/userlogin4.webp" alt="Image 4">
            </div>
          </div>

        <div class="form-container">
          <h2>LogIn Form</h2>
          <form action="/login" method="post">
            <div class="form-group">
              <label for="email">Email Id:</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="pwd" required>
            </div>
             <a href="/usersignup" id="form-para">Don't have an account?</a>
            <br>
            <button type="submit" class="btn">Login</button>
          </form>
        </div>
      </div>
      <div class="header"><%- include('home-header')%></div>
      <div style="position: absolute; bottom: 0; width: 100%;"><%- include('footer')%></div>
<script src="script.js"></script>
</body>
</html>